<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <hr/>
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome Completo</label>
                <div class="col-md-10">
                    <input class="form-control" id="nome" type="text" placeholder="Nome (requirido)"
                           formControlName="nome"
                           [ngClass]="{'is-invalid': cadastroForm.get('nome')?.errors && (cadastroForm.get('nome')?.dirty || cadastroForm.get('nome')?.touched) }"/>
                    <span class="text-danger" *ngIf="cadastroForm.get('nome')?.errors && (cadastroForm.get('nome')?.dirty || cadastroForm.get('nome')?.touched)">
                        <p>Preencha o campo nome</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="cpf">CPF</label>
                <div class="col-md-10">
                    <input class="form-control" id="cpf" type="text" placeholder="CPF (requirido)"
                           formControlName="cpf"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="email">Email</label>
                <div class="col-md-10">
                    <input class="form-control" id="email" type="text" placeholder="Email (requirido)"
                           formControlName="email" [ngClass]="{'is-invalid': cadastroForm.get('email')?.errors?.required && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)}"/>
                    <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.required && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)">
                        <p>Preencha o campo de email</p>
                    </span>
                    <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.email && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)">
                        <p>Email em formato inválido</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="senha">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="senha" type="password" placeholder="Senha (requirido)"
                           formControlName="senha"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="confirmacaoSenha">Confirme a senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="confirmacaoSenha" type="password"
                           placeholder="Confirme a senha (requirido)" formControlName="confirmacaoSenha"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="registrar" type="submit" [disabled]="!cadastroForm.valid">Registrar</button></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <p>Formulário valido: {{ cadastroForm.valid}}</p>
                    <p>Formulário tocado: {{ cadastroForm.touched}}</p>
                    <p>Formulário sujo: {{ cadastroForm.dirty}}</p>
                    <p>Formulario: {{formResult}}</p>
                </div>
            </div>
        </div>
    </form>
</div>
